


h2 {
    text-align: center
}

body {
    background-color: teal;
}

.item1 {grid-area: header;}
.item2 {grid-area: main;}
.item3 {grid-area: footer;}
.item4 {grid-area: ads;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 454;
    height: 361;
}

.item3 img{
    width: 5%;
}

.item4 img{
    height: 300px;
    width: 300px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'ads main main'
    'footer footer footer';
    padding: 10px;
    gap: 10px;
}

.grid-container > div {
    background-color: lightblue;
    text-align: center;
    padding: 20px 0;
}
